streamlit==1.29.0
pandas
scikit-learn
altair>=4.0
streamlit-tree-select
umap-learn
hiclass
xgboost
git+https://github.com/scikit-adaptation/skada
git+https://github.com/smestern/pypatchOTDA.git
